# Ambienti virtuali
.venv/
venv/
env/
bin/

# Cache di Python
**/__pycache__/
*.pyc
*.pyo
*.pyd

# Log e dati temporanei
logs/
*.log
data/
temp/

# Git
.git/
.gitignore

# Docker
Dockerfile
docker-compose.yaml
.dockerignore

# IDE e sistema operativo
.idea/
.vscode/
.DS_Store